*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
header{
	width: 100vw;
	background-color: #000000;
	box-shadow: 10px 15px 20px;
}
h1
{
	font-family: cursive;
	font-size: 70px;
	color: gold;
	margin: auto;
	text-align: center;
	padding: 0.7%;
}
div img
{
	box-shadow: 10px 20px 15px ;
	border-radius: 50%;
	z-index: 1000;
	display: none;
}
#container
{
	position: relative;
	border: 7px solid #000000;
	border-radius: 50%;
	box-shadow: 10px 15px 20px;
	height: 30vw;
	width: 30vw;
	background: url(res/clock0.png) no-repeat ;
	background-size: 100% ;
	margin: auto;
}
#hours , #minutes , #seconds , #dot
{
	transform-origin: bottom;
}
#hours
{
	position: absolute;
	background: black;
	border-radius: 20px;
	width: 2%;
	height: 26%;
	top: 24.3%;
    left: 48.79%;
}
#minutes
{
	position: absolute;
	background: black;
	border-radius: 25px;
	width: 1.8%;
	height: 30%;
	top: 20%;
	left: 48.89%;
	opacity: 0.8;
}
#seconds
{
	position: absolute;
	background: rgb(255, 238, 0);
	border-radius: 55px;
	width: 0.9%;
	height: 40%;
	top: 10%;
	left: 49.3%;
}
#dot
{
	position: absolute;
	border-radius: 50%;
	background: black;
	width: 7%;
	height: 7%;
	top: 46%;
	left: 46.3%;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%; 
    background-color:#000000;
}
a{
	text-decoration: none;
}

